@model IEnumerable<DiogoTurismo.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<style>
    .navbar{
        margin-bottom:0;
    }

    .extra-jumbotron{
        background-image:url('/Destino.jpg');
        background-size:100%;
    }


  .body{
      background-color:yellow;
  }
</style>


<div class="jumbotron extra-jumbotron">
      <h1 style="color:white"><span style="color:yellow"> C</span>ADASTRO</h1>
       <h4 style="color:white">MENU PARA FAZER ALTERAÇÕES NO CONTEÚDO DESTINO</h4>
  </div>


<p>
    <a class="btn btn-warning" asp-action="Create">Novo Cadastro</a>
</p>
<table class="table table-hover" style="text-align:center;background:yellow;color:white;">
    <thead style="background:black;color:yellow;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
               @Html.DisplayName("CPF")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id_cadastro">Editar</a> &nbsp
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id_cadastro">Detalhes</a> &nbsp
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_cadastro">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
